.nav-title{
    /* //styleName: www.kikk.be/Helvetica/Bold 15.25; */
font-family: Helvetica !important;
font-size: 15.25px !important;
font-weight: 700 !important;
line-height: 32px;
color: white;
}
#collapsible-nav-dropdown{
    color: white;
}
#collapsible-nav-Kikk-for-All{
    color: white;
}
#collapsible-nav-practical{
    color: white;
}
.color-issue{
    color: white !important;
}
.nav-title-top{
    font-family: Helvetica !important;
font-size: 15.25px !important;
font-weight: 700 !important;
line-height: 32px;
}
.nav-dropdown-box{
    width: 123.25px !important;
    height: 47px !important;
}
.navbuttn{
    width: 140.56px;
height: 42px;
left: 20.58px;
padding: 10.81px 16.42px 11.99px 21.42px;
gap: 0px;
border-radius: 9999px 0px 0px 0px;
border: 2px 0px 0px 0px;
/* color: purple !important; */
}
.navbar-nav{
    display: flex;
    align-items: center !important;
    gap: 10px !important;
}
.nav-view-buttn{
    /* border-color: rgba(255, 207, 38, 1) !important ; */
    background-color: transparent !important;
    /* background-color: purple !important; */
    border: 2px solid rgba(255, 207, 38, 1) !important;
    width: 140.56px;
height: 42px;
left: 20.58px;
padding: 10.81px 16.42px 11.99px 21.42px;
gap: 12px !important;
border-radius: 9999px 0px 0px 0px;
border: 2px 0px 0px 0px;
}
.nav-cont-top{
    padding-top: 19px !important;
}
.nav-cont{
    padding-left: 110px !important;
    padding-right: 110px !important;
}
.nav-spacing-top{
padding-right: 30px !important;
}
.navbar-toggler{
    border: none !important;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: url("../../assets/icon1.png") !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
@media (max-width:360px) {
    .nav-cont-top p{
        display: none;
    }
    .nav-spacing-top{
        display: none !important;
    }
    .nav-title-top{
        display: none !important;
    }
    .nav-cont hr{
        display: none;
    }
    .nav-cont{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .logo{
        width: 101.78px;
height: 31.16px;
left: 0.01px;
gap: 0px;
opacity: 0px;

    }
}
@media (max-width:430px) {
    .nav-cont-top p{
        display: none;
    }
    .nav-spacing-top{
        display: none !important;
    }
    .nav-title-top{
        display: none !important;
    }
    .nav-cont hr{
        display: none;
    }
    .nav-cont{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .logo{
        width: 101.78px;
height: 31.16px;
left: 0.01px;
gap: 0px;
opacity: 0px;

    }
}
@media (max-width:576px) {
    .nav-cont-top p{
        display: none;
    }
    .nav-spacing-top{
        display: none !important;
    }
    .nav-title-top{
        display: none !important;
    }
    .nav-cont hr{
        display: none;
    }
    .nav-cont{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .logo{
        width: 101.78px;
height: 31.16px;
left: 0.01px;
gap: 0px;
opacity: 0px;

    }
}
@media (max-width:768px) {
    .nav-cont-top p{
        display: none;
    }
    .nav-spacing-top{
        display: none !important;
    }
    .nav-title-top{
        display: none !important;
    }
    .nav-cont hr{
        display: none;
    }
    .nav-cont{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .logo{
        width: 101.78px;
height: 31.16px;
left: 0.01px;
gap: 0px;
opacity: 0px;
margin-left: 0px !important;
    }
}
@media (max-width:992px) {
    .nav-cont-top p{
        display: none;
    }
    .nav-spacing-top{
        display: none !important;
    }
    .nav-title-top{
        display: none !important;
    }
    .nav-cont hr{
        display: none;
    }
    .nav-cont{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .logo{
        width: 101.78px;
height: 31.16px;
left: 0.01px;
gap: 0px;
opacity: 0px;

    }
}
@media (max-width:1100px) {
    .button{
        gap: 10px !important;
    }
}
@media (max-width:1200px) {
    .nav-cont{
        padding-left: 35px !important;
        padding-right: 35px !important;
    }
    .button{
        gap: 20px !important;
    }
}